@import url(http://fonts.googleapis.com/css?family=Dosis:300,500,600,700);
@import url(hhttp://fonts.googleapis.com/css?family=Open+Sans:300,400,700,600,800);


/* Wrapper for page content to push down footer */
#wrap {
  min-height: 100%;
  height: auto;
  /* Negative indent footer by its height */
  margin: 0 auto -60px;
  /* Pad bottom by footer height */
  padding: 0 0 0px;
}

/* Set the fixed height of the footer here */
#footer {
  /* text-align: center; */
  padding: 3.3em;
  padding-right: 40px;
  background-color: #313130;
  /* border-top: 2px solid #F0F0F0; */
}
#footer p {/* font-size: 12px; */}

#dashed { 
border-bottom: 1px dashed rgb( 92, 95, 97 ); 
margin-bottom: 35px;
margin-top: 20px;
width: 80%;
margin-left: 80px;
/* text-align: center; */}

#compartilhar {
width: 300px;
margin: 10px 0 0;
display: inline-block;
margin-left: 0;
}


#rodapeLanding li {
  font-family: Dosis;
  list-style: none;
  color: rgb( 92, 95, 97 );
  font-size: 1em;
}
#rodapeLanding {margin-left: -20px;}
#rodapeLanding a{
    font-size: 1em;
    color: rgb( 164, 167, 169 );
    font-weight: 600;
    line-height: 1.667;
    text-align: left; margin: 5px;
}
#rodapeLanding .rodapeleft{
    font-size: 1.1em;
   
    color: rgb( 92, 95, 97 );
   
    font-weight: 400;
    line-height: 1.667;
    text-align: left;
    letter-spacing: 0.3px;
    margin-bottom: 50px;
    line-height: 1.5;
}
#rodapeLanding a {
    text-decoration: none;
}
#rodapeLanding a:hover {
    color: #688093;
}
.footerDireitos{padding-bottom: 35px;padding-top: 40px;width: 101.2%;background: #313130;}
.footerDireitos a{text-decoration: none; color: #b0c6d7;}
.footerDireitos p{ font-size: 14px; margin-left: 140px; margin-top: 30px; font-weight: 600; font-family: Myriad Pro; color: rgb( 92, 95, 97 );  }
.footerDireitos h2 {font-family:Dosis; margin-bottom:0px; font-weight:600;font-size:16px; margin-left:150px}
.footerDireitos img {margin-left:160px; margin-top:0px;}
body {
  width: 100%;
  margin-top: 0px; /* 50px is the height of the navbar - change this if the navbarn height changes */ 
  background-color: #f7f6f4;
}


html {font-family: "Oxygen",Helvetica,Arial,sans-serif; height: 100%  ;}

.hero-spacer {
  margin-top: 50px;
}

.hero-feature {
  margin-bottom: 30px;/* spaces out the feature boxes once they start to stack responsively */
}


footer {
  font-size: 12px;
  margin: 50px 0;
  text-align: center;
}


/* Custom styles */
body .btn .glyphicon {padding-right:4px;}

body .top-form-inner {padding: 20px 20px;
float: right;
overflow: hidden;}



 #top .navbar-default  {
background-color: #d2e2eb;
border-top: none;
border-bottom: none;
min-height: 60px;

}

#top  .navbar-nav {
font-size: 14px;
/* text-align: center; */
text-transform: uppercase;
font-weight: 400;
}

#top .navbar-nav > li > a {
/* box-shadow: inset 0 15px 31px -24px rgba(182, 182, 182, 0.6); */
border-right: 1px solid #DADADA;
padding-top: 20px;
padding-left: 50Px;
padding-right: 80px;
padding-bottom: 20px;
font-family: Open Sans;
/* font-weight: bold; */
}

#top .navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
color: #555;
border-left: 1px solid #DADADA;

background-color: #E7E7E7;
}


#top .navbar-nav > li > .dropdown-menu {
text-transform: none;
font-size: 12px;
}


.left-sec .filter-sec img {
  padding-bottom: 12px;
}



.left-sec .input-control {margin-top: 20px;
font-size: 13px;}


.left-sec .input-control label {
font-size: 12px;}

.left-sec {
/* border-right: 1px solid #D6D6D6; */
height: 100%;
padding-top: 2em;
overflow-y: auto;
z-index: 1000;}

.left-sec .left-cont {
padding:15px;
background-color: #fff;
border-bottom: 1px solid #D6D6D6;
}

.left-sec .left-cont-b {
 padding: 15px;

 background-color: #f7f6f4;

 /* border-bottom: 1px solid #D6D6D6; */
  
}

.left-cont img {
  padding-bottom: 12px;
}

.left-map {
  background-color: #fff;
border-bottom: 1px solid #D6D6D6;
}

.left-sec .left-cont h6 {text-transform: uppercase;
font-family: Dosis;color: #787575; font-size: 18px;margin-left: 5px;margin-bottom: 1px;font-weight: 700;}

.left-sec .left-cont-b h6 {
text-transform: uppercase;
font-family: Dosis;
color: #787575;
font-size: 18px;
margin-left: 5px;
margin-bottom: 1px;
font-weight: 700;}


.left-sec .left-cont a{
  color:#9d9d9d;
}

.left-sect .left-cont a:active {
  color:#98bf3d;
}

.left-sec .left-cont p {
font-size: 11px;
color: grey;
}

.left-sec .filter-footer{
  padding: 3px;
  background-color: #fff;
}

.left-sec .filter-footer a{
  color:#9d9d9d;
}

.left-sec .filter-footer h5{
  text-transform:uppercase;
  text-align:center;
  font-weight:600;
  font-size:12px;
  font-family: 'Dosis';
  padding-top:2px; 
  padding-bottom: 2px;
}

.right-sec {
margin-top: 1em;
overflow: hidden;
}

.right-sec .thumbnail img {
height: 240px;
width: 100%;
/* border: 1px solid rgb(126, 126, 126); */
}
.right-sec .thumbnail img:hover {
opacity: 0.9;
}
.right-sec .thumbnail {
/* font-family: 'Montserrat',Arial,Helvetica,sans-serif; */border-radius: 0px 0px 0px 0px;
-moz-border-radius: 0px 0px 0px 0px;
-webkit-border-radius: 0px 0px 0px 0px; 
padding:0px;
/* box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.08); */
margin-bottom: 25px;}

.right-sec h4.title {
height: 100%;
color: #f9a13d;
font-family: Open Sans;
/* font-weight: 400; */
text-transform: uppercase;
text-align: center;
font-size: 16px;
font-weight: 700;
margin-top: 0px;}

.right-sec h5.title {
font-family: Open Sans;
font-weight: 400;
font-size: 14c;
color:#a3a2a2;
line-height: 0.6;
letter-spacing: 0.2px;
text-align: center;
}

.right-sec h6.title {
font-family: Open Sans;
color:#a3a2a2;
text-transform:uppercase;
text-align: center;
font-weight:300;
font-size: 13px;
letter-spacing:0.5px;
}

.right-sec ul.list-unstyled {
font-size: 11px;
margin-bottom: 0px;
color: #494949;
}

.right-sec ul.list-unstyled li {
padding: 3px 2px;
}


.right-sec ul.media-list { font-family: 'Montserrat',Arial,Helvetica,sans-serif;}

.right-sec ul.media-list li.premium-item {color: #DAF2FA;
background: #27B3E0;
}


.right-sec .media-body h4  {margin-top: 0px; margin-bottom: 15px; font-family: inherit; font-weight: bold; padding-right: 10px;}

.right-sec .media-body .label  {font-family: "Oxygen",Helvetica,Arial,sans-serif;}

.right-sec ul.media-list li.premium-item .label-success {background: #FFF;
color: #5CB85C;
font-size: 17px;}



.right-sec ul.media-list li {

background: #FFF;
margin-bottom: 10px;
border-right: 1px solid #D6D3D3;
box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.08);
}

.right-sec ul.media-list .media-body  {padding:10px;
font-size: 12px;}
.right-sec ul.media-list .media-object  {width: 125px;
height: 100px;
}


.right-sec .thumbnail .label {

position: absolute;
left: 15px;


top: 20px;


font-size: 13px;
opacity: 0.9}

.right-sec .thumbnail a {
font-family: 'Open Sans';
color: #f9a13d;
font-size: 15px;
text-decoration: none;
/* font-family: inherit; */}



.right-sec .top {margin: 20px 0px 40px 0px;}
.right-sec .bio {margin: 60px 0px;}
.right-sec .bio h3 {font-family: inherit; margin-bottom: 5px;}
.right-sec .bio p {font-size: 12px; margin-top: 10px; color: #6D6A6A;}
.right-sec .bio span {font-style: italic;}

.right-sec .bio-img {text-align: center; width: 100%; }
.right-sec .bio-img img {background: #FFF;padding: 4px;border: 1px solid #C2BABA; }


.sub-foot {background-color: #4e565b;padding: 30px 0;}
.sub-foot p {color: white; font-size: 18px;font-family: Dosis;text-align: center;font-weight: 600;}
.sub-foot img.logo {
width: 100%;
height: 100px;
border-radius: 2px 2px 2px 2px;
-moz-border-radius: 2px 2px 2px 2px;
-webkit-border-radius: 2px 2px 2px 2px;
border: 2px solid #E4E4E4;
padding: 20px;
}

.sub-foot img.logo:hover {
opacity: 0.6;
}

.sub-foot .thumbnail {border: none;}


.right-sec .premium  {/* color: #DAF2FA; */
/* background: #27B3E0; */ 

/* border-top: 5px solid #27B3E0; */ }
.right-sec .premium img  {min-height: 225px; border-top: none;}
.right-sec .premium img:hover  {opacity: 0.8;}

.right-sec .premium h4 a {font-size: 14px;
color: #D5F0F9; }
.right-sec .premium ul {margin-bottom: 0px;}

.right-sec .premium ul> li {font-size: 9px;  color: #A9EBFF; }

.right-sec .list-inline > li {
display: inline-block;
padding-right: 5px;
padding-left: 0px;
}

.right-sec .premium ul> li:first-child {padding-left:5px;}



.listing-page {padding: 4em 0px;
background: #f7f6f4;
}

.listing-page-top {height: 17em;padding: 3em 0px 0em;
border-bottom: 1px solid #DDD;
background-color: #d2e2eb;}

.listing-page-top  .nav-tabs {
border-bottom: none;
margin-top: 45px;
}


.listing-page-top h1 {
font-size: 28px;
color: #707070;
/* text-transform: uppercase; */
font-family: Dosis;
font-weight: 700;
line-height: 0.5;
}

.listing-page-top h3 {
  /* margin-bottom: 15px; */
font-size: 16px;
font-weight: 200;

  line-height: 0.1;
font-family: Open Sans;
font-weight: 400;
color: #707070;
}
.listing-page-top  .nav-tabs i {
padding-right: 7px;
font-size: 15px;
vertical-align: middle;
}


.listing-page .tab-content {padding: 20px;
border: 1px solid #D3D3D3;
border-top: none;
}




.listing-page .col-lg-12 
{border-bottom: 1px solid #DAD7D7;
margin-bottom: 17px;}


   .listing-page .media
    {
        /*box-shadow:0px 0px 4px -2px #000;*/
     margin: 13px 0;
padding: 5px 25px;
    }
   .listing-page  .dp
    {
        border:10px solid #eee;
        transition: all 0.2s ease-in-out;
    }
   .listing-page .dp:hover
    {
        border:5px solid #eee;
      
        /*-webkit-font-smoothing:antialiased;*/
    }


.nav-tabs > li.active > a,
.nav-tabs > li.active > a:focus {
  color: #fff;
  font-family: Open Sans;
  cursor: pointer;
  background-color: #f9a13c;
  padding: 8px 14px;
  border-radius: 100px;
}

.nav-tabs > li.active > a:hover

{background: #f9a13c; cursor: pointer;}

.listing-page-top p {font-size: 11px;
color: #635F5F;
}

.listing-page .table {font-size: 11px;}

.listing-page-top .label {font-family: Open Sans; color: #6f6f6f;font-weight: 400;font-size: 90%; }

 .error-page {
  text-align: center;
  margin: 5em;
background: rgba(0, 0, 0, 0);
}

 .error-page p.error  {
  font-size: 10em;
font-weight: bold;}

.error-page p.text {
font-family: inherit;
font-size: 30px;
font-weight: bold;
margin-bottom: 2em;
color: #838383;
}

.error-page .fa-compass {color:#A2C765;}

#landing .services {background: white;}



#landing .glyphicon {padding-right:5px;}

#landing .nav-pills > li.active > a, .nav-pills > li.active > a:hover, .nav-pills > li.active > a:focus {
text-transform: uppercase;
color: #FFF;
background-color: rgba(0, 0, 0, 0);
border: 3px solid #10799B;
}

#landing .subline {font-size: 2em;
color: rgba(192, 240, 255, 0.9);} 



#landing .nav > li > a {
color: #FFF;
text-transform: uppercase;
padding: 10px 15px;}

#landing .nav > li > a:hover {
background: transparent;}

#landing .text-muted {
color: white;
font-family: 'Nunito', sans-serif;
font-size: 22px;
letter-spacing: -1px;
}

#landing .search-block {
  background-color: rgba(16, 121, 155, 0.9);
margin-left: auto;
margin-right: auto;
padding: 50px 0px;
}

#landing .header-image {
        position: relative;  
  z-index: 1;

  background: url('../img/bg-main.jpg') repeat;/* Use a tiling background image or a full width image - if you're using full width you will need to change no-repeat center center cover  */
  background-position: center;
  height: auto;
  display: block;
  width: 100%;
  min-height: 750px;
  -webkit-background-size: cover;
-moz-background-size: cover;
-o-background-size: cover;
background-size: cover;
}


#landing .header-image:before {
z-index: -2;
content: "";
display: block;
position: absolute;
top: 0;
bottom: 0;
left: 0;
right: 0;
background: rgba(39, 179, 224, 0.9);}

#landing .header {overflow: hidden;
margin-bottom: 6em;}



#landing .headline {
padding: 60px 10px 55px 10px;}

#landing .headline > .container > h1 {
font-weight: bold;
font-size: 51px;
text-shadow: 0px 2px 2px rgba(1, 52, 117, 0.4), 0px 8px 13px rgba(0, 0, 0, 0.1), 0px 18px 23px rgba(0, 0, 0, 0.1);
color: #FFF;

}

#landing .headline > .container > h2 {


font-size: 45px;
color: #FFF;

letter-spacing: -2px;
}



#landing .featurette-divider {
  margin: 80px 0;
}
#landing .featurette {
  overflow: hidden; 
}

#landing .featurette-image.pull-left {
  margin-right: 40px;
}
#landing .featurette-image.pull-right {
  margin-left: 40px;
}

#landing .featurette-heading {
  font-size: 50px;
}



#landing .auth-unit {
width: 300px;margin-right: auto;
margin-left: auto;}
#landing .auth-unit-inner {
  -webkit-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.1),inset 0 1px 0 rgba(255, 255, 255, 0.65);
-moz-box-shadow: 0 1px 5px rgba(0,0,0,0.1),inset 0 1px 0 rgba(255,255,255,0.65);
box-shadow: 0 1px 5px rgba(0, 0, 0, 0.1),inset 0 1px 0 rgba(255, 255, 255, 0.65);
border-radius: 0px 0px 3px 3px;
-moz-border-radius: 0px 0px 3px 3px;
-webkit-border-radius: 0px 0px 3px 3px;
background: #F0F0F0;

padding: 25px;
}

#landing .auth-unit label  {font-size: 13px; width: 100%;}

#landing .auth-unit-top {

  background: #FCFCFC;
border-bottom: 1px solid #CACACA;
padding: 5px 25px;
border-radius: 3px 3px 0px 0px;
-moz-border-radius: 3px 3px 0px 0px;
-webkit-border-radius: 3px 3px 0px 0px;}


#landing .auth-unit-top h3 {
  font-family: inherit;
  margin-top: 10px;
margin-bottom: 5px;
font-size: 25px;}

#landing .auth-unit-top p {
font-size: 12px;
color: #7E7E7E;}

#landing .auth-unit h3.text-brand {
font-family: inherit;
text-align: center;
margin-bottom: 5px;
padding: 1em 0em 35px;
font-size: 30px;
font-weight: bold;
color: #FFF;
letter-spacing: -1px;}

#landing hr {border-top: 1px solid rgba(224, 213, 213, 0.87);
border-bottom: 1px solid rgba(255, 255, 255, 0.5);
margin-top: 20px;
margin-bottom: 20px;}

 .sec-features {padding:4em 0em;}



.section-sec {background: #F7F7F7; padding: 60px 0px;}

footer {
  margin: 50px 0;
}


footer a {
  font-weight: bold;
}


/* Overide BS Styles */

.fade {
    opacity: 1;
transition: opacity .25s ease-in-out;
-moz-transition: opacity .25s ease-in-out;
-webkit-transition: opacity .25s ease-in-out;
}
.fade:hover {
    opacity: 0.5;
}

.featurette-divider {
  margin: 80px 0;
}
.featurette {
  overflow: hidden; 
}

.featurette-image.pull-left {
  margin-right: 40px;
}
.featurette-image.pull-right {
  margin-left: 40px;
}

.featurette-heading {
  font-size: 50px;
}


img.featurette-image  {
height: 240px;
width: 245px;
padding: 10px;
background: #FFF;
} 


.navbar-form {
margin-top: -55px;}

.section {padding: 60px 0px;
background: #FFF;}

.section.secondary { background: #F7F7F7;}

.section p {color: #6F6E6E;}

.navbar-btn {
margin-top: 10px;
margin-bottom: 10px;
}

.navbar .btn-toolbar {
border-right: 1px solid #C2C2C2;
padding-right: 16px;}

.navbar-default {
background-color: #eeedee;
/* border-color: #CFCFCF; */
}
.navbar {
  border-radius: 0px 0px 0px 0px;
-moz-border-radius: 0px 0px 0px 0px;
-webkit-border-radius: 0px 0px 0px 0px;
margin-bottom: 0px;
}

.selecter {
display: block;
margin: 10px 0;
position: relative;
max-width: 100%;
z-index: 1;
}

.navbar-brand {
color: #4B4949;
font-family: 'Nunito', sans-serif;
padding: 15px 30px;
font-size: 16px;
font-weight: bold;
letter-spacing: -1px;
}
.navbar-brand:hover {
opacity: 0.9;}

.navbar-brand span.sub-brand {color: #6B6B6B;}

.navbar-brand .glyphicon {color: #1EA4D1;
vertical-align: top;
line-height: 15px;}


.navbar-default .navbar-brand {
color: #575757;}


.navbar-default .navbar-link {
color: #ef9821;
font-family: Dosis;
cursor: pointer;
font-size: 18px;
/* margin-top: -3px; */
padding-right: 15px;
font-weight: 600;
}

.navbar-default .navbar-text {
color: #7A7A7A;
font-size: 12px;
}

.nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus {border-bottom: 1px solid #dddddd;}
.nav-tabs {
}

textarea:focus, input[type="text"]:focus, input[type="password"]:focus, input[type="datetime"]:focus, input[type="datetime-local"]:focus, input[type="date"]:focus, input[type="month"]:focus, input[type="time"]:focus, input[type="week"]:focus, input[type="number"]:focus, input[type="email"]:focus, input[type="url"]:focus, input[type="search"]:focus, input[type="tel"]:focus, input[type="color"]:focus, .uneditable-    input:focus {
    border-color: none;
    box-shadow: none;
    -webkit-box-shadow: none;
    outline: -webkit-focus-ring-color auto 5px;
}


.has-error .form-control {
border: 2px solid #de4343;

}


.btn-primary {
background-color: #d2e2eb;
border-left: 2px solid #bfd3de;
padding: 22px 102px;
border-radius: 0px;
font-family: Open Sans;
color: #8fa8b6;
font-size: 14px;
font-weight: 700;}


.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active,
.btn-primary.active,
.open .dropdown-toggle.btn-primary {
  color: #8fa8b6;
  background-color: #d2e2eb;
  border:1px solid #bfd3de;
  border-bottom: 6px solid #acc0cc;
}



.btn-success {
  background-color: #A2C765;
border-color: #7DA53D;}


.btn-success:hover, .btn-success:focus, .btn-success:active, .btn-success.active, .open .dropdown-toggle.btn-success {
color: #FFF;
background-color: #91BC47
;
border-color: #739638;
}

.btn-danger {
  background-color: #F26963;
  border-color: #d43f3a;
}


.preco {
  font-family:Open Sans;
  color:#707070;
  font-size: 22px;
  line-height: 0.8;
  /* text-align: center; */
  font-weight: 800;
}
.label-success {
background-color: #f9a13d;
}

.label-primary {
background-color: #009DDC;
}



.grid  i {
font-size: 25px;
padding-right: 10px;

}
.grid p {
font-size: 12px;
color: grey;

}
.grid {
margin-left: 0px;
list-style: none;
overflow: hidden;
max-width: 100%;
margin: 0 auto;
}
.grid li {
padding: 0 1.5em 1.5em 0;
}
.grid li > div {
  background: white;
padding: 15px ;  color: black;
}

.grid  h5 {
 margin-top: 3px;

}


.grid li > div img {
width: 100%;
height: 210px;

}

.grid li.wide {
  width: 100%;
}
.grid li a {
font-size: 17px;
  color: #3B3B3B;

font-family: inherit;
}

@media all and (min-width: 27em) {
  .grid li {
    width: 50%;
    float: left;
  }
}

@media all and (min-width: 40em) {
  .grid li {
    width: 33.3333333%;
  }
  .grid li.wide {
    width: 66.666666%;
  }
}
@media all and (min-width: 60em) {
  .grid li {
    width: 25%;
  }
  .grid li.wide {
    width: 50%;
  }

